/* Footer */
.footer {
  background-color: #181733;
}

.footer__summary {
  display: flex;
  justify-content: space-around;
}

.footer__part-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 36px;
}

.footer__part-list {
  list-style: none;
}

.footer__part-item {
  margin-bottom: 8px;
}

.footer__part-item:hover a {
  text-decoration: underline;
}

.footer__part-item a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #bdd1e3;
}

.footer__logo {
  display: flex;
  align-items: center;
  margin: 28px;
  user-select: none;
}

.footer__logo-image {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.footer__logo-name {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.footer_corporate {
  display: flex;
  justify-content: space-around;
  margin-bottom: 36px;
}

.footer_corporate-copyright {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
}

.footer_corporate-copyright span {
  font-weight: 600;
  margin-right: 4px;
}

.footer_corporate-link-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.footer_corporate-link-item {
  border-right: 1px solid #fff;
}

.footer_corporate-link-item:last-child {
  border: none;
}

.footer_corporate-link-item:hover a {
  text-decoration: underline;
}

.footer_corporate-link-item a {
  text-decoration: none;
  padding: 16px;
  font-size: 1.2rem;
  color: #fff;
}

.footer__footer {
  width: 100%;
  height: 24px;
  background: linear-gradient(90deg, #cd122d 0, #154284);
}

/* Responsive */
@media (min-width: 1100px) and (max-width: 1280px) {
}

@media (min-width: 1024px) and (max-width: 1100px) {
}

@media (min-width: 840px) and (max-width: 1024px) {
}

@media (max-width: 840px) {
}

@media (max-width: 500px) {
}
