/* Navigation - Bar */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 48px;
  background: linear-gradient(90deg, #cd122d 0, #154284);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 9;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  list-style: none;
}

.navbar__item {
  position: relative;
  padding: 15px 8px;
  margin: 0 20px;
  cursor: pointer;
  overflow: hidden;
}

.navbar__item::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #fff;
  transition: 0.2s linear;
}

.navbar__item.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #fdc52c;
}

.navbar__item:hover.navbar__item::before {
  transform: translateY(-100%);
}

.navbar__item:hover.navbar__item.active::before {
  transform: translateY(0);
}

.navbar__item a {
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
}

/* Responsive */
@media (min-width: 1100px) and (max-width: 1280px) {
  /* Navbar */
  .navbar__item {
    margin: 0 12px;
  }

  .navbar__item a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1100px) {
  /* Navbar */
  .navbar__item {
    margin: 0 12px;
  }

  .navbar__item a {
    font-size: 1.1rem;
  }
}

@media (min-width: 840px) and (max-width: 1024px) {
  /* Navbar */
  .navbar__item {
    margin: 0 12px;
  }

  .navbar__item a {
    font-size: 1.1rem;
  }
}

@media (max-width: 840px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 500px) {
}
